header {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 22px 0 0;
}

a:hover {
  text-decoration: none;
}
/*
.page-wrap {
  min-height: 100%;

  margin-bottom: -152px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 152px;
}*/


/* Main Page */
.case-type-img {
  width: 100%;
  background: url('../media/images/types.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
  color: black;
  margin: 0px;
  padding: 0px;
}

.case-type-img:hover {
  color: black;
  font-weight: bold;
  box-shadow: 0px 3px 3px -2px grey;
  text-decoration: none;
  opacity: 0.7;
}

.access-img {
  width: 100%;
  background: url('../media/images/access.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
  color: black;
  margin: 0px;
  padding: 0px;
}

.access-img:hover {
  color: black;
  font-weight: bold;
  box-shadow: 0px 3px 2px -2px grey;
  text-decoration: none;
  opacity: 0.7;
}

.act-img {
  width: 100%;
  background: url('../media/images/act.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
  color: black;
  margin: 0px;
  padding: 0px;
}

.act-img:hover {
  color: black;
  font-weight: bold;
  box-shadow: 0px 3px 2px -2px grey;
  text-decoration: none;
  opacity: 0.7;
}

.data-img {
  width: 100%;
  background: url('../media/images/data.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
  color: black;
  margin: 0px;
  padding: 0px;
}

.data-img:hover {
  color: black;
  font-weight: bold;
  box-shadow: 0px 3px 2px -2px grey;
  text-decoration: none;
  opacity: 0.7;
}

.dictionary-img {
  width: 100%;
  background: url('../media/images/dictionary.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
  color: black;
  margin: 0px;
  padding: 0px;
}

.dictionary-img:hover {
  color: black;
  font-weight: bold;
  box-shadow: 0px 3px 2px -2px grey;
  text-decoration: none;
  opacity: 0.7;
}

.causelist-img {
  width: 100%;
  background: url('../media/images/causelist.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
  color: black;
  margin: 0px;
  padding: 0px;
}

.causelist-img:hover {
  color: black;
  font-weight: bold;
  box-shadow: 0px 3px 2px -2px grey;
  text-decoration: none;
  opacity: 0.7;
}

.horizontal-line {
  margin: 20px;
  border: 1px solid #999999;
}

.faq-questions {
  border: 1px lightgray solid;
  color: black;
}

.faq-questions:hover {
  background-color: #D3D3D3;
  color: black;
}

/* Help section */

.help .nav-tabs>li>a {
  background: lightgray;
  color : #336699;
}

.help .nav-tabs>li.active>a {
  border-top: 2px #336699 solid;
  background: white;
  color : black;
}

.help .help-box {
  width: 50%;
  margin-left: 22%;
  margin-top: 2em;
}

.help .help-box p {
  margin: 0px;
  font-size: 16px;
}

.help-box a {
  color: #000000;
}

.help-box .panel-body {
    text-align: center;
}

.help-box .panel-body:hover {
  color: #ffffff;
  background-color: #395c82;
  cursor: pointer;
}

#faq, #legal, #contact, #calendar {
  height: 30em;
  overflow-x: hidden;
  border: 1px lightgray solid;
  border-top: transparent;
  margin-right: 2px;
}

.hidden {
  display: none;
}

/*.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  cursor: pointer;
}*/

.backFaq {
  float: right;
  cursor: pointer;
}

.answer {
  border-left: 3px lightgray solid;
  margin-left: 35px;
}

.content-question {
  margin-bottom: 15px;
}


.legal-help {
  margin-top: 15px;
}

.legal-help .search-legal {
  margin-top: 15px;
}

.legal-help .letters-legal {
  display: inline-block;
}

.legal-help .letters-legal a {

  margin-left: 3px;
  margin-right: 3px;
  padding-left: 3px;
  padding-right: 3px;
  border: 1px lightgray solid;
  background: lightgray;
  color: #000000;
}

.legal-help .letters-legal:hover {
}

.legal-help .letters-legal:hover a.link-legal {
  background-color: #395c82;
  color: #ffffff;
  cursor: pointer;
}

.legal-description {
  margin-top: 10px;
  margin-left: 12px;
  height: 240px;
  border: 1px lightgray solid;
  overflow: auto;
}

.nav-tabs>li {
  padding-left: 0px;
  padding-right: 0px;
}
/* Main Page */
.circle {
  width:60px;
  height: 60px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  line-height: 60px;
  text-align: center;
  background: #000;
  position: absolute;
  margin-top: 7px;
}

.dyk-section {
  margin-top: 20px;
  border: 1px lightgray solid;
  height: 110px;
  margin-left: -22px;
}

.dyk-heading-section {
  background-color: #395c82;
  color: #fff;
  width: auto;
  float: left;
  height: 100%;
}

.dyk-span-section {
  display: inline-block;
  text-align: left;
  float: right;
  padding-right: 6px;
  padding-left: 11px;
  width: 0.25em;
  white-space: nowrap;
  direction: rtl;
  transform-origin: top left;
  transform: rotate(-90deg) translate(-100%);
}
.dyk-col-section {
  width: 32%;
  height: 100%;
  padding: 1em;
}

.dyk-para {
  margin-left: 70px;
  font-size: 13px;
}

.dyk-para-align1 {
  margin-top: 17px;
}

.dyk-para-align2 {
  margin-top: 7px;
}

.dyk-readmore {
  float: right;
}

/* Contact Us Page*/
.contact-tile {
  background-color: #e0e0e0;
}
.contact-main-col {
  margin-top: 10px;
}

.contact-indv-tile {
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-image-col {
  padding: 0px;
}

.contact-image {
  width: 50%;
  margin-top: -2px;
  margin-left: 20px;
}
.contact-description {
  padding-left: 0px;
}


.contact-label {
  text-align: center;
  padding: 0px;
  margin-top: 9px;
}

.offices-tile {
  background-color: #e0e0e0;
  height: 260px;
}

.contact-details {
  margin-left: 21px;
  font-weight: bold;
}

.contact-address {
  margin-left: 21px;
}

.forms-tile {
  background-color: #e0e0e0;
  height: 250px;
}

.forms-col {
  margin-top: 20px;
}

.forms-row {
  margin-bottom: 12px;
}

.forms-label {
  text-align: right;
  padding: 0px;
  margin-top: 9px;
}

.forms-submit {
  float: right;
  margin-right: 20px;
}


/* Case Page */

.cases h1,
.cases h2,
.cases h3,
.cases h4 {
  color: #336699;
}
.case-tiles {
  border: 1px #e0e0e0 solid;
  background-color: #e0e0e0;
  color: black;
  height: 184px;
}

.case-tiles:hover,
.case-tiles:focus {
  color: black;
  font-weight: 600;
  box-shadow: 2px 2px grey;
  text-decoration: none;
}

.case-tile-heading {
  text-align: center;
}

.case-tile-description {
  font-size: 13px;
}

.remedy-title {
  color: #336699;
  border-bottom: 1px lightgray solid;
}


/* Tribunal Page */
.tribunal h1,
.tribunal h2,
.tribunal h3,
.tribunal h4 {
  color: #336699;
}

.tribunal-heading {
  color: #395c82;
  font-weight: bold;
}

.tribunal-dictionary {
  font-size: 12px;
  padding: 7px;
}

.tribunal-bullets {
  padding-left: 16px;
}

.tribunal-links {
  color: #395c82;
}

.tribunal-links:hover {
  font-weight: bold;
}

.tribunal-jurisdiction-details {
  border-top: 1px lightgray solid;
}

.tribunal-jurisdiction-img {
  width: 81%;
  margin-top: 20px;
}

.tribunal-jurisdiction-list {
  list-style: none;
}


/* Complaint Page */

.complaint-image {
  width: 100%;
  height: 150px;
}

.complaint-tabs {

}
.complaint-main-link {
  color: black;
}

.complaint-main-link:hover {
  color: black;
}

.complaints-type-example:hover {
  cursor: pointer;
}


.consumer-complaint .nav-tabs>li>a {
  background: lightgray;
  color : #336699;
}

.consumer-complaint .nav-tabs>li.active>a {
  border-top: 2px #336699 solid;
  background: white;
  color : black;
}

#types {
  height: 30em;
  overflow-x: hidden;
  border: 1px lightgray solid;
  border-top: transparent;
  margin-right: 2px;
}

.case-type h1,
.case-type h2,
.case-type h3,
.case-type h4 {
  color: #336699;
}

.consumer-complaint {
  margin-left: 10px;
  margin-top: 10px;
}

#steps {
  height: 30em;
  overflow-x: hidden;
  border: 1px lightgray solid;
  border-top: transparent;
  margin-right: 2px;
}

.steps-complaint {
  margin-left: 10px;
  margin-top: 10px;
}
.steps-complaint-img {
  width: 4%;
  margin-top: 0.2em;
}

.steps-heading {
  font-size: 14px;
  margin-left: -19px;
  color: #336699;
  cursor: pointer;
  margin-top: 1px;
}

#lifecycle {
  height: 30em;
  overflow-x: hidden;
  border: 1px lightgray solid;
  border-top: transparent;
  margin-right: 2px;
}

.case-lifecycle-img {
  width: 100%;
}

#forms {
  height: 30em;
  overflow-x: hidden;
  border: 1px lightgray solid;
  border-top: transparent;
  margin-right: 2px;
}

.form-complaint {
  margin-left: 10px;
  margin-top: 10px;
}

.steps-div {
  margin-left: 51px;
}
.steps-bullets {
  border-left: 2px #336699 solid;
}

/* Consumer Page */

.consumer h1,
.consumer h2,
.consumer h3,
.consumer h4 {
  color: #336699;
}

.consumer-list {
  margin-left: -21px;
}
