header {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 22px 0 0;
}

a:hover {
  text-decoration: none;
}


/* Help section */

.help .help-box {
  width: 50%;
  margin-left: 22%;
  margin-top: 2em;
}

.help .help-box p {
  margin: 0px;
  font-size: 16px;
}

.help-box a {
  color: #000000;
}

.help-box .panel-body {
    text-align: center;
}

.help-box .panel-body:hover {
  color: #ffffff;
  background-color: #395c82;
  cursor: pointer;
}

#faq {
  height: 30em;
  overflow-x: hidden;
  border: 1px lightgray solid;
}

.hidden {
  display: none;
}

.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  cursor: pointer;
}

.backFaq {
  float: right;
  cursor: pointer;
}

.answer {
  border-left: 3px lightgray solid;
  margin-left: 35px;
}

.content-question {
  margin-bottom: 15px;
}
