header {
  font-family: "Merriweather", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 22px 0 0;
}

h1,h2,h3,h4 {
  font-family: "Merriweather", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p,span,ul,li {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

a:hover {
  text-decoration: none;
}
/*
.page-wrap {
  min-height: 100%;

  margin-bottom: -152px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 152px;
}*/


.nav-color {
  background: #253494;
  color: #ffffff;
}

.nav>li.active {
  font-weight: bold;;
}
.nav>li.about-active i.fa {
  /*content: "\25BC";*/
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #253494;
  font-size: 0;
  line-height: 0;
  position: absolute;
  margin-top: 33px;
  margin-left: -48px;
}

.nav>li.act-active i.fa {
  /*content: "\25BC";*/
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #253494;
  font-size: 0;
  line-height: 0;
  position: absolute;
  margin-top: 33px;
  margin-left: -62px;
}

.nav>li.consumer-active i.fa {
  /*content: "\25BC";*/
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #253494;
  font-size: 0;
  line-height: 0;
  position: absolute;
  margin-top: 33px;
  margin-left: -83px;
}

.nav>li.case-active i.fa {
  /*content: "\25BC";*/
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #253494;
  font-size: 0;
  line-height: 0;
  position: absolute;
  margin-top: 33px;
  margin-left: -72px;
}

.nav>li.publications-active i.fa {
  /*content: "\25BC";*/
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #253494;
  font-size: 0;
  line-height: 0;
  position: absolute;
  margin-top: 33px;
  margin-left: -63px;
}

.nav>li.help-active i.fa {
  /*content: "\25BC";*/
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #253494;
  font-size: 0;
  line-height: 0;
  position: absolute;
  margin-top: 33px;
  margin-left: -58px;
}


/* Main Page */

.links-main {
  padding-left: 0;
  padding-right: 0;
  border: 1px solid lightgray;
}

.links-main:hover {
  box-shadow: 0px 3px 3px 1px grey;
  font-weight: bold;
}

.case-type-img {
  width: 100%;
  background: url('../media/images/types.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;

  color: #212121;
  margin: 0px;
  padding: 0px;
  border: 1px solid transparent;
  border-top: 1px solid lightgray;
  height: 151px;
}

.case-type-img:hover {
  color: #212121;
  font-weight: bold;
  text-decoration: none;
  opacity: 0.9;
}

.access-img {
  width: 100%;
  background: url('../media/images/access.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: #212121;
  margin: 0px;
  padding: 0px;
  border: 1px solid transparent;
  border-top: 1px solid lightgray;
  height: 151px;
}

.access-img:hover {
  color: #212121;
  font-weight: bold;

  text-decoration: none;
  opacity: 0.9;
}

.act-img {
  width: 100%;
  background: url('../media/images/act.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: #212121;
  margin: 0px;
  padding: 0px;
  border: 1px solid transparent;
  border-top: 1px solid lightgray;
  height: 151px;
}

.act-img:hover {
  color: #212121;
  font-weight: bold;

  text-decoration: none;
  opacity: 0.9;
}

.data-img {
  width: 100%;
  background: url('../media/images/data.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: #212121;
  margin: 0px;
  padding: 0px;
  border: 1px solid transparent;
  border-top: 1px solid lightgray;
  height: 151px;
}

.data-img:hover {
  color: #212121;
  font-weight: bold;

  text-decoration: none;
  opacity: 0.9;
}

.dictionary-img {
  width: 100%;
  background: url('../media/images/dictionary.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: #212121;
  margin: 0px;
  padding: 0px;
  border: 1px solid transparent;
  border-top: 1px solid lightgray;
  height: 151px;
}

.dictionary-img:hover {
  color: #212121;
  font-weight: bold;

  text-decoration: none;
  opacity: 0.9;
}

.causelist-img {
  width: 100%;
  background: url('../media/images/causelist.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: #212121;
  margin: 0px;
  padding: 0px;
  border: 1px solid transparent;
  border-top: 1px solid lightgray;
  height: 151px;
}

.causelist-img:hover {
  color: #212121;
  font-weight: bold;

  text-decoration: none;
  opacity: 0.9;
}

.horizontal-line {
  margin: 20px;
  border: 1px solid #999999;
}

.faq-questions {
  border: 1px lightgray solid;
  color: #212121;
}

.faq-questions:hover {
  background-color: #D3D3D3;
  color: #212121;
}

/* Help section */

.help .nav-tabs>li>a {
  background: lightgray;
  color : #253494;
}

.help h2 {
  color: #253494;
}

.help p,
.help span,
.help ul,
.help li {
  font-size: 16px;
}

.help .nav-tabs>li.active>a {
  border-top: 2px #253494 solid;
  background: white;
  color : black;
}

.help .help-box {
  width: 50%;
  margin-left: 22%;
  margin-top: 2em;
}

.help .help-box p {
  margin: 0px;
  font-size: 16px;
}

.help-box a {
  color: #000000;
}

.help-box .panel-body {
    text-align: center;
}

.help-box .panel-body:hover {
  color: #ffffff;
  background-color: #253494;
  cursor: pointer;
}

#faq, #legal, #contact, #calendar {
  height: 30em;
  overflow-x: hidden;
  border: 1px lightgray solid;
  border-top: transparent;
  margin-right: 2px;
}

.hidden {
  display: none;
}

.faq-icon-img {
  width: 3.5em;
}
/*.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  cursor: pointer;
}*/

.backFaq {
  float: right;
  cursor: pointer;
}

.question {
  cursor: pointer;
}
.answer {
  border-left: 2px #253494 solid;
  margin-left: 65px;
}

.content-question {
  margin-top: 10px;
  margin-bottom: 15px;
}


.legal-help {
  margin-top: 15px;
}

.legal-help .search-legal {
  margin-top: 15px;
}

.legal-help .letters-legal {
  display: inline-block;
}

.legal-help .letters-legal a {

  margin-left: 3px;
  margin-right: 3px;
  padding-left: 3px;
  padding-right: 3px;
  border: 1px lightgray solid;
  background: lightgray;
  color: #000000;
}

.legal-help .letters-legal:hover {
}

.legal-help .letters-legal:hover a.link-legal {
  background-color: #253494;
  color: #ffffff;
  cursor: pointer;
}

.legal-description {
  margin-top: 10px;
  margin-left: 12px;
  height: 240px;
  border: 1px lightgray solid;
  overflow: auto;
}

.nav-tabs>li {
  padding-left: 0px;
  padding-right: 0px;
}
/* Main Page */
.circle {
  width:60px;
  height: 60px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  line-height: 60px;
  text-align: center;
  background: #000;
  position: absolute;
  margin-top: 7px;
}

.dyk-section {
  margin-top: 20px;
  border: 1px lightgray solid;
  height: 110px;
  margin-left: -22px;
}

.dyk-heading-section {
  background-color: #253494;
  color: #fff;
  width: auto;
  float: left;
  height: 100%;
}

.dyk-span-section {
  display: inline-block;
  text-align: left;
  float: right;
  padding-right: 6px;
  padding-left: 11px;
  width: 0.25em;
  white-space: nowrap;
  direction: rtl;
  transform-origin: top left;
  transform: rotate(-90deg) translate(-100%);
}
.dyk-col-section {
  width: 32%;
  height: 100%;
  padding: 1em;
}

.dyk-para {
  margin-left: 70px;
  font-size: 14px;
}

.dyk-para-align1 {
  margin-top: 17px;
}

.dyk-para-align2 {
  margin-top: 7px;
}

.dyk-readmore {
  float: right;
}

/* Contact Us Page*/
.contact-tile {
  background-color: #e0e0e0;
  width: 98%;
}
.contact-main-col {
  margin-top: 10px;
}

.contact-indv-tile {
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-image-col {
  padding: 0px;
}

.contact-image {
  width: 50%;
  margin-top: -2px;
  margin-left: 20px;
}

.contact-image-2 {
  width: 41%;
  margin-top: 1px;
  margin-left: 20px;
}
.contact-description {
  padding-left: 0px;
}


.contact-label {
  text-align: center;
  padding: 0px;
  margin-top: 9px;
}

.offices-tile {
  background-color: #e0e0e0;
  height: 260px;
}

.contact-details {
  margin-left: 21px;
  font-weight: bold;
}

.contact-address {
  margin-left: 21px;
}

.forms-tile {
  background-color: #e0e0e0;
  height: 250px;
}

.forms-col {
  margin-top: 20px;
}

.forms-row {
  margin-bottom: 12px;
}

.forms-label {
  text-align: right;
  padding: 0px;
  margin-top: 9px;
}

.forms-submit {
  float: right;
  margin-right: 20px;
}

.contact-help {
  margin-left: 10px;
}


/* Case Page */

.cases h1,
.cases h2,
.cases h3,
.cases h4 {
  color: #253494;
}

.cases p,
.cases span,
.cases ul,
.cases li {
  font-size: 16px;
}

.case-tiles {
  border: 1px #e0e0e0 solid;
  background-color: #e0e0e0;
  color: #212121;
  height: 184px;
}

.case-tiles:hover,
.case-tiles:focus {
  color: #212121;
  font-weight: 600;
  box-shadow: 2px 2px grey;
  text-decoration: none;
}

.case-tile-heading {
  text-align: center;
}

.case-tile-description {
  font-size: 13px;
}

.remedy-title {
  color: #253494;
  border-bottom: 1px lightgray solid;
}


/* Tribunal Page */
.tribunal h1,
.tribunal h2,
.tribunal h3,
.tribunal h4 {
  color: #253494;
}

.tribunal p,
.tribunal span,
.tribunal ul,
.tribunal li {
  font-size: 16px;
}

.tribunal-heading {
  color: #253494;
}

.tribunal-dictionary {
  font-size: 12px;
  padding: 7px;
}

.tribunal-bullets {
  padding-left: 16px;
}

.tribunal-links {
  color: #253494;
}

.tribunal-links:hover {
  font-weight: bold;
}

.tribunal-jurisdiction-details {
  border-top: 1px lightgray solid;
  padding-top: 5px;
}

.tribunal-jurisdiction-img {
  width: 81%;
  margin-top: 20px;
}

.tribunal-jurisdiction-list {
  list-style: none;
}


/* Complaint Page */

.complaint-image {
  width: 100%;
  height: 150px;
}

.complaint-tabs {

}
.complaint-main-link {
  color: #212121;
}

.complaint-main-link:hover {
  color: black;
}

.complaints-type-example:hover {
  cursor: pointer;
}


.consumer-complaint .nav-tabs>li>a {
  background: lightgray;
  color : #253494;
}

.consumer-complaint .nav-tabs>li.active>a {
  border-top: 2px #253494 solid;
  background: white;
  color : black;
}

#types {
  height: 30em;
  overflow-x: hidden;
  border: 1px lightgray solid;
  border-top: transparent;
  margin-right: 2px;
}

.case-type h1,
.case-type h2,
.case-type h3,
.case-type h4 {
  color: #253494;
}

.case-type p,
.case-type span,
.case-type ul,
.case-type li {
  font-size: 16px;
}

.consumer-complaint {
  margin-left: 10px;
  margin-top: 10px;
}

#steps {
  height: 30em;
  overflow-x: hidden;
  border: 1px lightgray solid;
  border-top: transparent;
  margin-right: 2px;
}

.steps-complaint {
  margin-left: 10px;
  margin-top: 10px;
}
.steps-complaint-img {
  width: 4%;
  margin-top: 0.2em;
}

.steps-heading {
  font-size: 14px;
  margin-left: -19px;
  color: #253494;
  cursor: pointer;
  margin-top: 1px;
}

#lifecycle {
  height: 30em;
  overflow-x: hidden;
  border: 1px lightgray solid;
  border-top: transparent;
  margin-right: 2px;
}

.case-lifecycle-img {
  width: 100%;
}

#forms {
  height: 30em;
  overflow-x: hidden;
  border: 1px lightgray solid;
  border-top: transparent;
  margin-right: 2px;
}

.form-complaint {
  margin-left: 10px;
  margin-top: 10px;
}

.steps-div {
  margin-left: 51px;
}
.steps-bullets {
  border-left: 2px #253494 solid;
}

/* Consumer Page */

.consumer h1,
.consumer h2,
.consumer h3,
.consumer h4 {
  color: #253494;
}

.consumer p,
.consumer span,
.consumer ul,
.consumer li {
  font-size: 16px;
}
.consumer-list {
  margin-left: -21px;
}


/* CTA */
.cta-further-options {
  display: inline-block;
  color: #004D00;
}

.cta-arrow {
  width: 2%;
}

.cta-button {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px #253494 solid;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #253494;
}

.cta-button:hover {
  color: #ffffff;
  background-color: #253494;
  cursor: pointer;
}


.viewing-header {
  background-color: #636363;
  color: #ffffff;
  position: absolute;
  margin: 0;
  padding: 0;
  text-align: right;
  width: 100%;
  top: 0;
  font-size: 11px;
}
.viewing-dropdown {
  background: transparent;
  padding: 0;
  padding-right: 2px;
}
.viewing-options-text {
  margin: 0;
}

.screen-reader {
  text-decoration: underline;
}


footer .navbar-nav>li>a:hover {
  background: none;
}
.footer-links:hover {
  background: none;
}

/*.footer-links {
  background: #d5d5d5;
}*/


.acts h2,
.publications h2 {
  color: #253494;
}
